#store_type = "sqlite" #or "server"
#database_file = "/path/to/db/file.db"  #Used when store_type = "sqlite"
#server_url = "http://localhost:3000"   #Used when store_type = "server"
#mpv_binary = "/path/to/alternate/mpv"

#[theme]
#primary_fg = "default"
#primary_bg = "default"
#alt_fg = 15
#alt_bg = 8
